.navbar{
    background-color: rgb(0, 40, 219) !important;
}

.nav-link{
    color:black !important;
}
/* 
.carousel-caption{
    background-color:rgb(255, 255, 255);
    color:black;
} */
